{
  "tabWidth": 2,
  "useTabs": false,
  "semi": false,
  "singleQuote": true,
  "trailingComma": "none",
  "bracketSpacing": true,
  "printWidth": 80,
  "endOfLine": "lf",
  "jsxSingleQuote": false,
  "arrowParens": "avoid",
  "htmlWhitespaceSensitivity": "strict",
  "bracketSameLine": false
}
