
@import './nprogress.css';
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

ul[role='list'],
ol[role='list'] {
  list-style: none;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  text-rendering: optimizeLegibility;
  font-weight: inherit;
}


img,
picture {
  object-fit: initial;
  display: block;
  width: 100%;
  height: auto;
}

